name: Build

env:
  RUSTC_VERSION: 1.86.0

on:
  pull_request:
  push:
    branches: ["main"]
  workflow_call:

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}-latest
    strategy:
      matrix:
        include:
          - os: macos
            arch: x86_64
          - os: macos
            arch: aarch64
          - os: windows
            arch: x86_64
          - os: ubuntu
            arch: x86_64
    steps:

    - name: setup environment
      shell: bash
      run: |
        set -u
        osname() {
          case $github_os in
            macos) echo apple-darwin ;;
            windows) echo pc-windows-msvc ;;
            ubuntu) echo unknown-linux-gnu ;;
            *) exit 1
          esac
        }
        suffix=
        if [[ windows = $github_os ]]; then
          suffix=.exe
        fi
        retention_days=
        if [[ pull_request = $event_name ]]; then
          profile=fastbuild
          retention_days=7
        else
          profile=release
        fi

        cat >>$GITHUB_ENV <<EOF
        target=${arch}-$(osname)
        suffix=$suffix
        profile=$profile
        retention_days=$retention_days
        EOF
      env:
        arch: ${{ matrix.arch }}
        github_os: ${{ matrix.os }}
        event_name: ${{ github.event_name }}

    - run: sudo sh -c 'apt update && apt install libdbus-1-dev'
      if: matrix.os == 'ubuntu'

    - uses: stairwell-inc/checkout@v4
    - uses: stairwell-inc/cache@v4
      with:
        path: |
          ~/.cargo
          target
        key: rust-${{ env.RUSTC_VERSION }}-${{ env.target }}-${{ hashFiles('**/Cargo.lock') }}-${{ github.run_id }}-${{ github.run_attempt }}
        restore-keys: |
          rust-${{ env.RUSTC_VERSION }}-${{ env.target }}-${{ hashFiles('**/Cargo.lock') }}-${{ github.run_id }}-
          rust-${{ env.RUSTC_VERSION }}-${{ env.target }}-${{ hashFiles('**/Cargo.lock') }}-
          rust-${{ env.RUSTC_VERSION }}-${{ env.target }}-
    - run: rustup toolchain install ${{ env.RUSTC_VERSION }} --target ${{ env.target }} --profile minimal
    - run: rustup default ${{ env.RUSTC_VERSION }}

    - run: cargo build --locked --profile ${{ env.profile }} --target ${{ env.target }}
    - uses: stairwell-inc/upload-artifact@v4
      with:
        name: aspect-reauth-${{ env.target }}
        path: target/${{ env.target }}/${{ env.profile }}/aspect-reauth${{ env.suffix }}
        retention-days: ${{ env.retention_days }}
